/*----------- album begin ----------------*/
div.albumheader{
}
div.albumheader a{
	color : blue;
}
div#albums{
	margin:auto;
	text-align:center;
	margin-top:10px;
}

div#albums img{
	background:white none repeat scroll 0% 0%;
	border:1px solid #CCCCCC;
	padding:6px;
}

div.album_thumbnail{
	width:180px;
	height:202px;
	display:table;
	float:left;
}

div.album_thumbnail_img{
	width:180px;
	height:180px;
	display:table;
	float:left;
	padding-left:5px;
	padding-right:5px;
}
div.album_photo{
	padding-top:15px;
	padding-bottom:10px;
	padding-left:5px;
	padding-right:5px;
}

div.album_thumbnail_title{
	height:30px;
}
/*----------------- album end ------------------------*/

div#container {
	margin-top : 20px;
	margin-bottom : 20px;
}

div#gallery {
	display:table-cell;
	vertical-align : top;
	text-align: center;
}

div.controls {
	margin-top: 5px;
}
div.ss-controls {
	float:left;
}
div.ss-controls span {
	color: #666666;
	cursor: pointer;
}
div.nav-controls {
	float:right;
}
div.nav-controls a {
	padding: 5px;
}

div.slideshow {
	width:800px;
	height : 600px;
	display : table-cell;
	vertical-align:middle;
	text-align: center;
}
span.image-wrapper {
}
div.slideshow img {
	border: none;
}


div.image-desc {
	padding-top: 12px;
}
div.navigation {
	width: 160px;
	display:table-cell;
	padding-right:20px;
}

ul.thumbs {
	clear: both;
	margin: 0;
	padding: 0;
}
ul.thumbs li {
	float: left;
	padding: 0;
	margin: 0;
	list-style: none;
}
ul.thumbs li a {
	padding: 2px;
	display: block;
	border: 1px solid #ccc;
}
ul.thumbs li.selected a {
	background: #88f;
}
ul.thumbs a:focus {
	outline: none;
}
ul.thumbs img {
	border: none;
	display: block;
}
div.pagination {
	clear: both;
}
div.navigation div.top {
	margin-bottom: 12px;
	height: 11px;
}
div.navigation div.bottom {
	margin-top: 12px;
}
div.pagination a, div.pagination strong {
	display: block;
	float: left;
	margin-right: 2px;
	padding: 4px 7px 2px 7px;
	border: 1px solid #ccc;
}
div.pagination a:hover {
	background-color: #ffc;
	text-decoration: none;
}
div.pagination span.current {
	display : block;
	float : left;
	margin-right : 2px;
	padding : 4px 7px 2px;
	border : 1px solid #CCCCCC;
}
div.pagination strong {
	background-color: #acf;
}
