div.collection {
	width: 80%;
}

div#doubantabs {
	height: 25px;
}

div#doubantabs ul {
	margin: 0;
	padding: 0;
	width: 100%;
}

div#doubantabs li {
	display: inline;
	float: left;
	line-height: 1em;
	margin: 0;
}

div#doubantabs a {
	color: green;
	display: block;
	margin: 0;
	padding: 4px 25px;
	text-decoration: none;
}


div.entry {
	margin-bottom: 5px;
	padding: 5px;
	border: 1px solid #BFD7FF;
}

div.entry_img {
	display: block;
	float: left;
}

div.entry_img img {
	display: block;
	border: none;
	/*width:73px;*/
}

div.entry_info {
	display: block;
	float: left;
	padding-left: 15px;
	width: 85%;
}

span.entry_title {
	font-size: 16px;
	font-weight: bold;
}

div.entry_comment {
	padding: 5px;
	background-color: #E0ECFF;
	-moz-border-radius: 5px;
	-khtml-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}

span.rating {
	display: block;
	font-size: 12px;
	height: 12px;
	line-height: 100%;
	margin-bottom: 7px;
	overflow: hidden;
	background: transparent url(/styles/allstar.gif) no-repeat scroll 0 0;
}

span.star1 {
	background-position: 0 -96px;
}

span.star2 {
	background-position: 0 -72px;
}

span.star3 {
	background-position: 0 -48px;
}

span.star4 {
	background-position: 0 -24px;
}

span.star5 {
	background-position: 0 0px;
}