body {
	color: #35383D;
	font-family: verdana, sans-serif;
	font-size: 14px;
	margin: 0px;
	background-color: #F9F9F9;
}

html {
	margin: 0pt;
	padding: 0pt;
}

form {
	margin: 0px;
	padding: 0px;
}

a {
	color: #437291;
	text-decoration: none;
}

a:visited {
	color: #437291;
	text-decoration: none;
}

a:hover {
	color: blue;
	text-decoration: underline;
}

a.metro-green {
	background-color: #5CC26F;
	text-decoration: none;
	color: white;
}

a.metro-blue {
	background-color: #7798CB;
	text-decoration: none;
	color: white;
}

span.metro_flow{
	font-family:verdana,sans-serif,"Microsoft YaHei","Microsoft JhengHei",STHeiti,SimHei;
	color:white;
	text-decoration: none;
}

textarea {
	width: 80%;
	height: 350px;
}

div.outer {
	height: auto !important;
	margin: 0 auto;
	max-width: 1020px;
	padding: 0;
	position: relative;
}


div#blogtitle {
	display: inline;
	position: relative;
	color: blue;
	height: 100%;
}

span#title {
	font-weight: bold;
	font-size: 24px;
	color: white;
}

span#title a {
	color: white;
	text-decoration: none;
}

span.description {
	color: #ccc;
	font-size: 12px;
}

div#search { 
	margin-top:3px;
	float: right;
}

div#header {
	/*background-color: #E5ECF9;
	border-top: 1px solid #3366CC;*/
	background-color : #555;
	padding-top: 15px;
	height: 30px;
	margin: 0;
	width: 100%;
}

div.tabbar {
	padding-left: 5px;
	font-size:16px;
	float:right;
}

ul.tabul {
	list-style-type: none;
	list-style: none outside none;
	display:block;
	float:left;
	margin: 0;
	padding: 0;
}

ul.tabul li {
	/* border-radius:5px 5px 0px 0px;
	border:1px solid #C0C0C0; */
	float: left;
	margin: 2px 4px 0 0;
}

ul.tabul li.focustab {
	background-color: #F9F9F9;
}

ul.tabul li a {
	color: #CCC;
	text-decoration: none;
	height:28px;
	line-height:28px;
	padding:0 10px;
}

ul.tabul li.focustab a {
	color: #222;
}

div#toolbar {
	font-family: "Georgia", Arial, Helvetica, sans-serif;
	font-size:12px;
	background-color: #F0F0F0;
}

div#main {
	display : table-cell;
	vertical-align : top;
	padding-top: 10px;
	padding-right: 10px;
}

div#main_nosidebar {
	padding-left: 10px;
	padding-top: 10px;
	width: 100%;
}

div.post {
	margin-bottom: 10px;
	padding: 10px;
	background-color: #FDFDFD;
	border: 1px solid #C0C0C0;
}


div.postinfo {
	border-top: 1px dotted #CCCCCC;
	margin-bottom: 10px;
	font-size: 12px;
	color: #333333;
}

div.postinfo a{
	color: #333333;
}

div.post_body {
	word-break: break-all;
	word-wrap:break-word;
	overflow: hidden;
}


.title {
	font-family: Georgia, Times, serif;
	font-size: 22px;
	font-weight: bold;
	line-height: 120%;
	margin: 0;
	padding: 0;
}


div.underinfo {
	height: 26px;
	margin-top: 8px;
	padding-left: 0;
	padding-top: 0;
	text-align: right;
}
div.underinfo a:HOVER{
	
}

.title a {
	color: #333333;
}

.title a:HOVER {
	color: blue;
}

div.page_panel {
	font-size: 12px;
	margin-top: 10px;
	margin-bottom: 8px;
}

div.page_panel span { /*margin : 0 20px 0 20px;
	padding : 2px;*/ /*background-color:#C8DCF0;*/
	border: 1px solid #999;
	padding: 3px;
}

div.page_panel a {
	text-decoration: none;
	color: #437291;
}

div#sidebar {
	display:table-cell;
	/*vertical-align : top;*/
	width : 240px;
	padding-top: 10px;
}

div.item {
	color: #333333;
	font-size: 12px
}

div.line {
	margin-top: 2px;
	line-height: 2px;
	border-top: 1px solid #D2E9F4
}

div.block {
	/*width: 100%;*/
	margin-bottom: 10px;
	font-size: 12px;
	border: 1px solid #C0C0C0;
	background-color: #FDFDFD;
	/* border-radius:5px 5px 5px 5px; */
}

div.block .header {
	font-weight: bold;
	color: #333333;
	font-size: 14px;
	border-bottom: 1px dotted #C0C0C0;
	padding:8px 24px 7px 10px;
}

div.block .content {
	padding: 5px 10px 9px;
}

ul.block_ul{
	list-style:none outside none;
    padding: 0 0 0 10px;
    margin: 0;
}

ul.block_ul li{
	list-style:none outside none;
	padding-left:0px;
	padding-bottom:3px;
}

div.block .item {
	padding-left: 5px;
}

a.cloud_tag {
    margin: 2px 0px 0 5px;
    white-space: nowrap;
    height: 16px;
    line-height: 16px;
    background: #deeefa;
    float:left;
    padding: 4px 4px;
    border: 1px solid #d0e0f0;
    border-radius:4px;
}

div.footer {
	text-align: left;
	font-size: 12px;
	margin-top : 10px;
	padding-top: 5px;
	padding-bottom: 15px;
	border-top: 1px solid #CCCCCC;
}


div.box {
	float: left;
	padding: 10px;
	width: 48%;
}

div.box .header {
	font-weight: bold;
	color: #16387C;
	background-color: #D9E7F0;
	font-size: 16px;
	padding-top: 2px;
	padding-left: 5px;
}

div.box .item a:hover {
	text-decoration: underline;
}

div.box .item {
	padding-left: 5px;
	font-size: 14px;
}

div.box .des {
	padding-left: 5px;
	font-size: 12px;
	color: #7F7F7F;
	height: 20px;
}

div.box .des a {
	color: #7F7F7F;
}

div.box .des a:hover {
	color: #7F7F7F;
	text-decoration: underline;
}

div.comment {
	border-collapse : separate;
	border: 1px solid #DCDDDD;
	font-size : 12px;
	padding-top: 8px;
	padding-bottom: 8px;
	margin-top:5px;
	background-color: #FDFDFD;
}

div.quote {
	border: 1px solid #DCDDDD;
	background-color: #F0F0F0;
	margin: 5px;
	padding: 3px 1px 3px 1px;
}

blockquote{
	border: 1px solid #DCDDDD;
	margin: 5px;
	padding: 3px 1px 3px 1px;
}

div.commentavatar {
	vertical-align:top;
	display: table-cell;
	width:140px;
	text-align: center;
}

div.commentright {
	display: table-cell; 
}

div.commenttitle {
	padding: 3px 1px 3px 1px;
}

div.commenbody {
	padding-top: 12px;
	padding-bottom: 12px;
	padding-left: 1px;
	color: #000000;
}
div.newcomment {
	border: 1px solid #DCDDDD;
	margin-top: 10px;
	padding: 10px 0 0 10px;
	background-color: #FDFDFD;
}

div.errmsg {
	border: 1px solid #DD7870;
	color: red;
	display: inline;
}

/* fot table*/
table.thin_border {
	/*margin: 0 auto;*/
	border-top: 1px solid #888;
	border-left: 1px solid #888;
    border-collapse: collapse;
    border-spacing: 0px;
}

table.thin_border td,th{
	border-right: 1px solid #888;
	border-bottom: 1px solid #888;
}

table.no_border {
	border-collapse: collapse;
	border-spacing:1px;
	padding:0;
}