<div class="block">
    <div class="header" id="archivehead">归档</div>
    <div class="content" id="archivecontent">
        <div id="archive_base">
            <ul class="block_ul">
                {% for archive in get_archives() %}
                {% if loop.index == 13 %}
            </ul>
        </div>
        <script>
            $(document).ready(function(){
                $("#archive_dis").toggle(function(){
                    $("#content").show();
                    $("#archive_dis").html("-收起更多归档");
                },function(){
                    $("#content").hide();
                    $("#archive_dis").html("+显示更多归档");
                });
            });
        </script>
        <div id='archive_dis' style="cursor:pointer;margin:5px 0px;" onclick="$('#archive_more').toggle()">
            +显示更多归档
        </div>
        <div id="archive_more" style="display:none">
            <ul class="block_ul">
                {% endif %}

                <li style="list-style: disc;">
                    <a href="/post/archive/{{archive.name}}/">{{archive.name}}({{archive.count}})</a>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>