{% if pager %}
<div class="page_panel">
    <span>共{{pager.total}}篇，第{{pager.page}}/{{pager.totalpage}}页</span>

    <span><a href="{{pager.url(1)}}">首页</a></span>
    {% if pager.hasprev() %}
    <span><a href="{{pager.url(pager.page-1)}}">上一页</a></span>
    {% endif %}
    {% if pager.begindot() %}... {% endif %}
    {% for idx in pager.showpages() %}
    {% if idx == pager.page %}
    <span>{{idx}}</span>
    {% else %}
    <span><a href="{{pager.url(idx)}}">{{idx}}</a></span>
    {% endif %}
    {% endfor %}
    {% if pager.enddot() %}...{% endif %}
    {% if pager.hasnext() %}
    <span><a href="{{pager.url(pager.page+1)}}">下一页</a></span>
    {% endif %}
    <span><a href="{{ pager.url(pager.totalpage) }}">尾页</a></span>
</div>
{% endif %}