<div style="margin-bottom:10px;">
    <a class="metro-green" style="height:50px;width:117px;float:left;" href="http://www.google.com/ig/add?feedurl=http://{{ config.host }}/feed{% if tag %}/{{ tag|tag }}{% endif %}" target=_blank>
        <img src="/images/greader_metro_50.png" alt="订阅到Google Reader" title="订阅到Google Reader" border=0 />
        <span style="position: relative; left:-4px;top: -15px;" class="metro_flow">GReader</span>
    </a>
    <a class="metro-green" style="height:50px;width:117px;float:right;" href="/feed{% if tag %}/{{ tag|tag }}{% endif %}" target=_blank>
        <img src="/images/rss_metro_50.png" alt="订阅RSS" title="订阅RSS" border=0 />
        <span style="position: relative;left:0px;top: -25px;" class="metro_flow">订阅RSS</span>
    </a>
    <div style="clear:both;"></div>
</div>