{% extends "base_1col.html" %}

{% set tab_album = 1 %}

{% block title %} - 相册{% endblock %}

{% block script %}
    <link rel="stylesheet" type="text/css" href="/styles/album.css" />
{% endblock %}

{% block main %}
    <div id="albums">
        {% for album in albumlist %}
        <div class="album_thumbnail">
            <div class="album_thumbnail_img">
                <a href="/album/{{album.albumname}}/" onFocus='this.blur()'>
                    <img src="{{album.thumbnail}}" />
                </a>
            </div>
            <div class="album_thumbnail_title">
                {{album.title}} ({{album.size}})
            </div>
        </div>
        {% endfor %}
        <div style="clear:both;"></div>
    </div>
{% endblock %}