{% extends "base_2col.html" %}
{% set side_long = 1 %}
{% set tab_article = 1 %}

{% block title %} - 文章列表 {% if tag %} - {{ tag }} {% endif %} {% if archive %} - {{ archive }} {% endif %} {% endblock %}

{% block feed %}
    <meta name="robots" content="noindex,follow">
    <link rel="alternate" type="application/rss+xml" title="{{ config.heading }}" href="/feed/{{ tag|tag }}" />
{% endblock %}


{% block main %}
    <script type="text/javascript">
        function deleteBlogPost(id, name){
            if(confirm("确定要删除  \"" + name + "\"?")){
                window.location = "/post/delete?postid=" + id;
            }
        }
    </script>

    {# Post list #}
    {% for post in postlist %}
    <div class="post" id="post_{{ post.key.id() }}">
        <div class=title><a href="/post/{{ post.key.id() }}">{{ post.title }}</a></div>
        <div class="postinfo">
            {{ post.date|datetime }} | {{ post.author.nickname() }}
            {% if post.tags %}
            | 标签:
            {% for tag in post.tags %}
                <a href='/post/list/{{ tag | tag }}/'>{{ tag }}</a>{% if not loop.last %}, {% endif %}
            {% endfor %}
            {% endif %}
            | <a href="/post/{{ post.key.id() }}#comments">评论({{ post.commentCount or 0 }})</a>
            {% if isadmin() %}
            | <a href="javascript:void(0);" onclick="deleteBlogPost('{{ post.key.id() }}', '{{ post.title }}');">删除</a>
            | <a href="/post/edit?postid={{ post.key.id() }}">编辑</a>
            {% endif %}
        </div>
        <div class="post_body">
            {% if config.abstract %}
                {{ post.summary() }}
            {% else %}
                {{ post.content }}
            {% endif %}
        </div>
    </div>
    {% endfor %}
    {# 分页 #}
    {% include '/inc/pager.html' %}
{% endblock %}