{% extends "/base_1col.html" %}

{% block main %}
<style>
label {
    display:inline-block;
    width:150px;
}
</style>
<form action="/admin/config" method="post" >
    <label for="heading">标题:</label><input id="heading" name="heading" type="text" size=20 value="{{config.heading}}" /> <br />
    <label for="heading">副标题:</label><input id="subheading" name="subheading" type="text" size=50 value="{{config.subheading}}" />  <br />
    <label for="heading">域名:</label><input id="host" name="host" type="text" size=40 value="{{config.host}}" />  <br />
    <label for="heading">列表显示摘要:</label><input id="abstract" name="abstract" type="checkbox" {% if config.abstract %}checked=checked{% endif %} />  <br />
    <label for="heading">每页文章数:</label><input id="postnumperpage" name="postnumperpage" type="number" value="{{config.postnumperpage}}" />  <br />
    <label for="heading">每页评论数:</label><input id="commentnumperpage" name="commentnumperpage" type="number" value="{{config.commentnumperpage}}" />  <br />
    <label for="heading">Rss文章数量:</label><input id="feednum" name="feednum" type="number" value="{{config.feednum}}" />  <br />
    <label for="heading">最近评论数量:</label><input id="recentcommentnum" name="recentcommentnum" type="number" value="{{config.recentcommentnum}}" />  <br />
    <label for="heading">最近文章数量:</label><input id="recentpostnum" name="recentpostnum" type="number" value="{{config.recentpostnum}}" />  <br />
    <label for="heading">使用blobstore存储:</label><input id="blobEnable" name="blobEnable" type="checkbox" {% if config.blobEnable %}checked=checked{% endif %} />  <br />
    <label for="heading">picasa用户名:</label><input id="picasaalbumname" name="picasaalbumname" type="text" size=40 value="{{config.picasaalbumname}}" />  <br />
    <input type="submit" />
</form>
{% endblock %}